name: CI

on:
  repository_dispatch:
    types: [Component_update]
  push:
    branches:
      - '*'
    tags:
      - 'v*'
    paths-ignore:
      - '**.MD'
      - '**.gitkeep'
      - '**.gitignore'
  pull_request:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: compile with debugging functionality
      printf:
        type: choice
        description: wich debugging messages variant to use
        options:
        - NONE
        - PRINTF
        - EE_SIO
        - SCR
        - UDPTTY

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:

      - name: Install dependencies
        run: |
          apk add build-base git p7zip

      - uses: actions/checkout@v4
      - run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git fetch --prune --unshallow

      - name: Set output folders
        run: |
          if [ "${GITHUB_REF_NAME}" = "Retrogem-GAMEID" ]; then
            echo "OUT_ROOT=RETROGEM/" >> $GITHUB_ENV
            echo "ARTIFACT_DIR=RETROGEM" >> $GITHUB_ENV
            echo "USE_RELEASE=0" >> $GITHUB_ENV
          else
            echo "OUT_ROOT=" >> $GITHUB_ENV
            echo "ARTIFACT_DIR=release" >> $GITHUB_ENV
            echo "REL_DIR=release" >> $GITHUB_ENV
            echo "USE_RELEASE=1" >> $GITHUB_ENV
          fi

      - name: compilation opts
        if: github.event.inputs.debug == true
        run: |
          echo "DEBUG=$(echo DEBUG=1)" >> $GITHUB_ENV

      - name: Compile PS2 build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PS2/ ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: Compile PS2 MX4SIO build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PS2_MX4SIO/ MX4SIO=1 ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: Compile PSX build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PSX/ PSX=1 ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: Compile PS2 HDD build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PS2_HDD/ HDD=1 ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: Compile PS2 MMCE build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PS2_MMCE/ MMCE=1 ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: Compile PSX MMCE build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PSX_MMCE/ PSX=1 MMCE=1 ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: Compile PSX MX4SIO build
        run: |
          make release COMMIT_HASH=${GITHUB_SHA::7} BINDIR=${{ env.OUT_ROOT }}PSX_MX4SIO/ PSX=1 MX4SIO=1 ${{ env.DEBUG }} PRINTF=${{ github.event.inputs.name }}

      - name: list
        run: |
          git ls-files -i --exclude-standard -c

      - name: prepare release folder
        if: env.USE_RELEASE == '1'
        run: |
          mkdir -p "${{ env.REL_DIR }}"
          cp LICENSE "${{ env.REL_DIR }}/LICENSE.TXT"
          cp README.md "${{ env.REL_DIR }}/README.md"
          mv "${{ env.OUT_ROOT }}PS2/" "${{ env.REL_DIR }}/PS2/"
          mv "${{ env.OUT_ROOT }}PSX/" "${{ env.REL_DIR }}/PSX/"
          mv "${{ env.OUT_ROOT }}PS2_HDD/" "${{ env.REL_DIR }}/PS2_HDD/"
          mv "${{ env.OUT_ROOT }}PS2_MX4SIO/" "${{ env.REL_DIR }}/PS2_MX4SIO/"
          mv "${{ env.OUT_ROOT }}PS2_MMCE/" "${{ env.REL_DIR }}/PS2_MMCE/"
          mv "${{ env.OUT_ROOT }}PSX_MMCE/" "${{ env.REL_DIR }}/PSX_MMCE/"
          mv "${{ env.OUT_ROOT }}PSX_MX4SIO/" "${{ env.REL_DIR }}/PSX_MX4SIO/"

      - name: pack release
        if: env.USE_RELEASE == '1'
        run: |
          CSH=${GITHUB_SHA::7}
          DATE=$(date "+%d-%m-%Y")
          TARGET="PS2BBL[$DATE]-[$CSH]"
          cp -r release/ $TARGET/
          7z a -t7z PS2BBL.7z $TARGET/*

      - name: Upload artifacts
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: PS2BBL
          path: |
            ${{ env.ARTIFACT_DIR }}/**

      - name: Create prerelease
        if: github.ref == 'refs/heads/main' && env.USE_RELEASE == '1'
        uses: mathieucarbou/marvinpinto-action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          automatic_release_tag: "latest"
          title: "Latest development build"
          files: |
            PS2BBL.7z
